<div class="col-md-12" *ngIf="isWeekend() == false">

    <div class="card card-container" *ngIf="nowBreakfast() == true">
        <h5 style="text-align:center">Tu puntuación actual es {{currentScore}}.</h5>
        <img id="meal-img" src="/src/assets/meal.png" class="profile-img-card" />

        <div class="button-container" style="text-align:center">
            <button mat-mini-fab color="secundary" (click)="refreshMeal()" >
                <mat-icon>refresh</mat-icon>
            </button>
        </div>
        
        <p>Es hora del desayuno, la comida más importante del día, hoy toca {{currentMeal.title}}:</p>
        <p>{{currentMeal.description}}</p>
        <p>Que te aportará {{currentMeal.calories}} calorias</p>
        <button type="button" class="btn btn-primary" *ngIf="showBreakfastButton() == true" (click)="mealsCounterUp()">Confirmar comida</button>
        <button type="button" class="btn btn-primary" *ngIf="showBreakfastButton() == false" disabled>¡Comida realizada!</button>    
    </div>

    <div class="card card-container" *ngIf="nowLunch() == true">
        <h5 style="text-align:center">Tu puntuación actual es {{currentScore}}.</h5>
        <img id="meal-img" src="/src/assets/meal.png" class="profile-img-card" />
        <div class="button-container" style="text-align:center">
            <button mat-mini-fab color="secundary" (click)="refreshMeal()" >
                <mat-icon>refresh</mat-icon>
            </button>
        </div>
        <br>
        <p>Es hora de almorzar, hoy toca {{currentMeal.title}}:</p>
        <p>{{currentMeal.description}}</p>
        <p>Que te aportará {{currentMeal.calories}} calorias</p>

        <p>{{currentDateSum}}</p>
        <p>{{luld}}</p>
        <p>{{lastUpdatedLunchDate}}</p>
        <button type="button" class="btn btn-primary" *ngIf="showLunchButton() == true" (click)="mealsCounterUp()">Confirmar comida</button>
        <button type="button" class="btn btn-primary" *ngIf="showLunchButton() == false" disabled>¡Comida realizada!</button>
    </div>

    <div class="card card-container" *ngIf="nowSnack() == true">
        <h5 style="text-align:center">Tu puntuación actual es {{currentScore}}.</h5>
        <img id="meal-img" src="/src/assets/meal.png" class="profile-img-card" />
        <div class="button-container" style="text-align:center">
            <button mat-mini-fab color="secundary" (click)="refreshMeal()" >
                <mat-icon>refresh</mat-icon>
            </button>
        </div>
        <p>Es hora de la merienda, hoy toca {{currentMeal.title}}:</p>
        <p>{{currentMeal.description}}</p>
        <p>Que te aportará {{currentMeal.calories}} calorias</p>
        <button type="button" class="btn btn-primary" *ngIf="showSnackButton() == true" (click)="mealsCounterUp()">Confirmar comida</button>
        <button type="button" class="btn btn-primary" *ngIf="showSnackButton() == false" disabled>¡Comida realizada!</button>
    </div>

    <div class="card card-container" *ngIf="nowDinner() == true">
        <h5 style="text-align:center">Tu puntuación actual es {{currentScore}}.</h5>
        <img id="meal-img" src="/src/assets/meal.png" class="profile-img-card" />
        <div class="button-container" style="text-align:center">
            <button mat-mini-fab color="secundary" (click)="refreshMeal()" >
                <mat-icon>refresh</mat-icon>
            </button>
        </div>
        <p>Es hora de la cena, hoy toca {{currentMeal.title}}:</p>
        <p>{{currentMeal.description}}</p>
        <p>Que te aportará {{currentMeal.calories}} calorias</p>
        <button type="button" class="btn btn-primary" *ngIf="showDinnerButton() == true" (click)="mealsCounterUp()">Confirmar comida</button>
        <button type="button" class="btn btn-primary" *ngIf="showDinnerButton() == false" disabled>¡Comida realizada!</button>
    </div>

    <div class="card card-container" *ngIf="nowWork() == true">
        <h5 style="text-align:center">Tu puntuación actual es {{currentScore}}.</h5>
        <img id="meal-img" src="/src/assets/meal.png" class="profile-img-card" />
        <p>¡A trabajar! Vuelve a DayPal en un rato para consultar tu siguiente comida o actividad.</p>
    </div>
    <div class="card card-container" *ngIf="nowExercise() == true">
        <h5 style="text-align:center">Tu puntuación actual es {{currentScore}}.</h5>
        <img id="meal-img" src="/src/assets/meal.png" class="profile-img-card" />
        <div class="button-container" style="text-align:center">
            <button mat-mini-fab color="secundary" (click)="refreshExercise()" >
                <mat-icon>refresh</mat-icon>
            </button>
        </div>
        <p>Llegó el momento de hacer ejercicio, para hoy tienes: {{currentExercise.title}}</p>
        <p>{{currentExercise.description}}</p>
        <button type="button" class="btn btn-primary" *ngIf="showExerciseButton() == true" (click)="exercisesCounterUp()">Confirmar ejercicio</button>
        <button type="button" class="btn btn-primary" *ngIf="showSnackButton() == false" disabled>¡Ejercicio realizado!</button>
    </div>

    <div class="card card-container" *ngIf="nowFreeTime() == true">
        <h5 style="text-align:center">Tu puntuación actual es {{currentScore}}.</h5>
        <img id="meal-img" src="/src/assets/meal.png" class="profile-img-card" />
        <p>¡Tiempo libre! Haz lo que te plazca. </p>
    </div>
    <div class="card card-container" *ngIf="nowBedTimeRoutine() == true">
        <h5 style="text-align:center">Tu puntuación actual es {{currentScore}}.</h5>
        <img id="meal-img" src="/src/assets/meal.png" class="profile-img-card" />
        <p>Es hora de irse preparando para la cama, el momento perfecto para cuidar tu piel y meditar.</p>
    </div>
    <div class="card card-container" *ngIf="nowSleep() == true">
        <h5 style="text-align:center">Tu puntuación actual es {{currentScore}}.</h5>
        <img id="meal-img" src="/src/assets/meal.png" class="profile-img-card" />
        <p>¡A dormir!</p>
    </div>
</div>

<div class="col-md-12" *ngIf="isWeekend() == true">

    <div class="card card-container" *ngIf="nowBreakfast() == true">
        <h5 style="text-align:center">Tu puntuación actual es {{currentScore}}.</h5>
        <img id="meal-img" src="/src/assets/meal.png" class="profile-img-card" />
        <div class="button-container" style="text-align:center">
            <button mat-mini-fab color="secundary" (click)="refreshMeal()" >
                <mat-icon>refresh</mat-icon>
            </button>
        </div>
        <p>Es hora del desayuno, la comida más importante del día, hoy toca {{currentMeal.title}}:</p>
        <p>{{currentMeal.description}}</p>
        <p>Que te aportará {{currentMeal.calories}} calorias</p>
        <button type="button" class="btn btn-primary" *ngIf="showBreakfastButton() == true" (click)="mealsCounterUp()">Confirmar comida</button>
        <button type="button" class="btn btn-primary" *ngIf="showBreakfastButton() == false" disabled>¡Comida realizada!</button>        </div>

    <div class="card card-container" *ngIf="nowLunch() == true">
        <h5 style="text-align:center">Tu puntuación actual es {{currentScore}}.</h5>
        <img id="meal-img" src="/src/assets/meal.png" class="profile-img-card" />
        <div class="button-container" style="text-align:center">
            <button mat-mini-fab color="secundary" (click)="refreshMeal()" >
                <mat-icon>refresh</mat-icon>
            </button>
        </div>
        <p>Es hora de almorzar, hoy toca {{currentMeal.title}}:</p>
        <p>{{currentMeal.description}}</p>
        <p>Que te aportará {{currentMeal.calories}} calorias</p>
        <button type="button" class="btn btn-primary" *ngIf="showLunchButton() == true" (click)="mealsCounterUp()">Confirmar comida</button>
        <button type="button" class="btn btn-primary" *ngIf="showLunchButton() == false" disabled>¡Comida realizada!</button>
    </div>

    <div class="card card-container" *ngIf="nowSnack() == true">
        <h5 style="text-align:center">Tu puntuación actual es {{currentScore}}.</h5>
        <img id="meal-img" src="/src/assets/meal.png" class="profile-img-card" />
        <div class="button-container" style="text-align:center">
            <button mat-mini-fab color="secundary" (click)="refreshMeal()" >
                <mat-icon>refresh</mat-icon>
            </button>
        </div>
        <p>Es hora de la merienda, hoy toca {{currentMeal.title}}:</p>
        <p>{{currentMeal.description}}</p>
        <p>Que te aportará {{currentMeal.calories}} calorias</p>
        <button type="button" class="btn btn-primary" *ngIf="showSnackButton() == true" (click)="mealsCounterUp()">Confirmar comida</button>
        <button type="button" class="btn btn-primary" *ngIf="showSnackButton() == false" disabled>¡Comida realizada!</button>
    </div>

    <div class="card card-container" *ngIf="nowDinner() == true">
        <h5 style="text-align:center">Tu puntuación actual es {{currentScore}}.</h5>
        <img id="meal-img" src="/src/assets/meal.png" class="profile-img-card" />
        <div class="button-container" style="text-align:center">
            <button mat-mini-fab color="secundary" (click)="refreshMeal()" >
                <mat-icon>refresh</mat-icon>
            </button>
        </div>
        <p>Es hora de la cena, hoy toca {{currentMeal.title}}:</p>
        <p>{{currentMeal.description}}</p>
        <p>Que te aportará {{currentMeal.calories}} calorias</p>
        <button type="button" class="btn btn-primary" *ngIf="showDinnerButton() == true" (click)="mealsCounterUp()">Confirmar comida</button>
        <button type="button" class="btn btn-primary" *ngIf="showDinnerButton() == false" disabled>¡Comida realizada!</button>
    </div>

    <div class="card card-container" *ngIf="nowFreeTimeWeekend() == true">
        <h5 style="text-align:center">Tu puntuación actual es {{currentScore}}.</h5>
        <img id="meal-img" src="/src/assets/meal.png" class="profile-img-card" />
        <p>¡Tiempo libre! Haz lo que te plazca. </p>
    </div>
    <div class="card card-container" *ngIf="nowSleepWeekend() == true">
        <p>Tu puntuación actual es {{currentScore}}.</p>
        <img id="meal-img" src="/src/assets/meal.png" class="profile-img-card" />
        <p>¡A dormir!</p>
    </div>
</div>