<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">DayPal</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Inicio</a>
      </li>
      <!-- links para usuario -->
      <li class="nav-item" *ngIf="!showAdminBoard && !showModeratorBoard && isLoggedIn">  <!-- el if hbra que cambiarlo en el futuo si elimino esa funcion -->
        <a href="/user" class="nav-link" routerLink="">Hoy</a>
      </li>
      <li class="nav-item" *ngIf="!showAdminBoard && !showModeratorBoard && isLoggedIn">  <!-- el if hbra que cambiarlo en el futuo si elimino esa funcion -->
        <a href="/user/weight" class="nav-link" routerLink="user/weight">Actualizar Peso</a>
      </li>
      <!-- links para admin -->
      <li class="nav-item" *ngIf="showAdminBoard">  <!-- el if hbra que cambiarlo en el futuo si elimino esa funcion -->
        <a href="/meals" class="nav-link" routerLink="meals">Comidas</a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">  <!-- el if hbra que cambiarlo en el futuo si elimino esa funcion -->
        <a href="/exercises" class="nav-link" routerLink="exercises">Ejercicios</a>
      </li>
      <!-- <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
      </li> -->
      <!-- links para entrenador -->
      <!-- <li class="nav-item" *ngIf="showModeratorBoard">
        <a href="/mod" class="nav-link" routerLink="mod">Introducir Comida</a>
      </li> -->
      <li class="nav-item" *ngIf="showModeratorBoard">
        <a href="/meals/new" class="nav-link" routerLink="meals/new">Introducir Comida</a>
      </li>
      <li class="nav-item" *ngIf="showModeratorBoard">
        <a href="/exercises/new" class="nav-link" routerLink="exercises/new">Introducir Ejercicio</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Registro</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">Perfil</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">Cerrar Sesión</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
