<div class="container">
  
    <p>
      <strong>Todos los ejercicios registrados en el sistema:</strong>
    </p>
  
    <table class="table table-striped">
        <thead>
            <tr>
            <th>Título</th>
            <th>Descripción</th>
            <th>Tipo de ejercicio</th>
            <th>Eliminar ejercicio</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let exercise of exercises">
                <td>{{exercise.title}}</td>
                <td>{{exercise.description}}</td>
                <!-- <td>{{exercise.loseWeight}}</td> -->
                <td  *ngIf="exercise.loseWeight == true"> Indicado para perder peso </td>
                <td  *ngIf="exercise.loseWeight == false"> Indicado para ganar masa muscular </td>
                <button type="button" class="btn btn-danger" (click)="deleteExercise(exercise.id)" >Eliminar</button>
            </tr>
        </tbody>
    </table>
  </div>
  
  