<div class="container">
  
  <p>
    <strong>Todas las comidas registradas en el sistema:</strong>
  </p>

  <table class="table table-striped">
      <thead>
          <tr>
          <th>Título</th>
          <th>Descripción</th>
          <th>Calorias</th>
          <th>Categoria</th>
          <th>¿Eliminar comida?</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let meal of meals">
              <td>{{meal.title}}</td>
              <td>{{meal.description}}</td>
              <td>{{meal.calories}}</td>
              <td>{{meal.category}}</td>
              <button type="button" class="btn btn-danger" (click)="deleteMeal(meal.id)">Eliminar</button>
          </tr>
      </tbody>
  </table>
</div>

