<div class="card card-container">
  <p>
    <strong>Todas las comidas registradas en el sistema:</strong>
  </p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="text-align:center">Título</th>
        <th style="text-align:center">Descripción</th>
        <th style="text-align:center">Calorias</th>
        <th style="text-align:center">Categoria</th>
        <th style="text-align:center">¿Eliminar?</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let meal of meals">
        <td style="text-align:center">{{meal.title}}</td>
        <td style="text-align:center">{{meal.description}}</td>
        <td style="text-align:center">{{meal.calories}}</td>
        <td style="text-align:center" *ngIf="meal.category == 'BREAKFAST'">Desayuno</td>
        <td style="text-align:center" *ngIf="meal.category == 'LUNCH'">Almuerzo</td>
        <td style="text-align:center" *ngIf="meal.category == 'SNACK'">Merienda</td>
        <td style="text-align:center" *ngIf="meal.category == 'DINNER'">Cena</td>
        <td style="text-align:center">
          <button mat-raised-button color="warn" *ngIf="meal.id != 1 && meal.id != 2 && meal.id != 3 && meal.id != 4" (click)="deleteMeal(meal.id)">Eliminar</button>
          <button mat-raised-button *ngIf="meal.id == 1 || meal.id == 2 || meal.id == 3 || meal.id == 4" disabled>Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>