<div class="card card-container" *ngIf="currentUser; else loggedOut">
    <h3 style="text-align:center">
      <strong>¡Bienvenido {{currentUser.username}}!</strong>
    </h3>

    <br>

    <img
    id="profile-img"
    src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
    class="profile-img-card"
  />
  
  <br>

    <p>
    <strong>Tu email:</strong>
    {{ currentUser.email }}
  </p>

  <p *ngIf="isUser()">
    <strong>Tu altura:</strong>
    {{height}}
  </p>

  <p *ngIf="isUser()">
    <strong>Tu peso actual:</strong>
    {{weight}}
  </p>

  <p>
    <strong>Tu id interno en DayPal:</strong>
    {{ currentUser.id }}
  </p>

  <p>
    <strong>Tu Rol:</strong>
    {{role}}
  </p>

</div>

<ng-template #loggedOut>
  Por favor haz login.
</ng-template>
