<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          minlength="3"
          maxlength="20"
          #username="ngModel"
        />
        <div class="alert-danger" *ngIf="username.errors && f.submitted">
          <div *ngIf="username.errors.required">Username is required</div>
          <div *ngIf="username.errors.minlength">
            Username must be at least 3 characters
          </div>
          <div *ngIf="username.errors.maxlength">
            Username must be at most 20 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          email
          #email="ngModel"
        />
        <div class="alert-danger" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors.required">Email is required</div>
          <div *ngIf="email.errors.email">
            Email must be a valid email address
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <div class="alert-danger" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="height">Altura</label>
        <input
          type="number"
          class="form-control"
          name="height"
          [(ngModel)]="form.height"
          required
          min=150
          max=220
          #height="ngModel"
        />
        <div class="alert-danger" *ngIf="height.errors && f.submitted">
          <div *ngIf="height.errors.required">Por favor introduzca su altura</div>
          <div *ngIf="height.errors.min">La altura debe ser al menos 150 cms</div>
          <div *ngIf="height.errors.max">La altura debe ser como máximo 220 cms</div>
        </div>
      </div>
      <div class="form-group">
        <label for="weight">Peso</label>
        <input
          type="number"
          class="form-control"
          name="weight"
          [(ngModel)]="form.weight"
          required
          min=40
          max=300
          #weight="ngModel"
        />
        <div class="alert-danger" *ngIf="weight.errors && f.submitted">
          <div *ngIf="weight.errors.required">Por favor introduzca su peso</div>
          <div *ngIf="weight.errors.min">El peso debe ser al menos 40 kgs</div>
          <div *ngIf="weight.errors.max">El peso debe ser como máximo 300 kgs</div>
        </div>
      </div>
      <div class="form-group">
        <label for="sex">Sexo</label>       
      <select  class='form-control' [(ngModel)]="form.sex" name="sex" required #sex="ngModel">
          <option value="">Escoje tu sexo...</option>
          <option value="true">Masculino</option>
          <option value="false">Femenino</option>
      </select>
      <div class="alert-danger" *ngIf="sex.errors && f.submitted">
          <div *ngIf="sex.errors.required">Debe introducir su sexo</div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Registro</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Falló el registro!<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Bienvenido a DayPal!
    </div>
  </div>
</div>
